body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(203, 214, 224);
    background-color: rgb(63, 85, 78);
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #333;
}

h1 {
    text-align: center;
    color: #fff;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.error {
    color: #e74c3c;
    font-size: 14px;
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit {
    background-color: #008CBA;
}

#submit:hover {
    background-color: #007bb5;
}

#reset {
    background-color: #f44336;
}

#reset:hover {
    background-color: #e33d2f;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}