* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

#box-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #333;
    color: aliceblue;
    margin: auto;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

p {
    font-size: 16px;
}

.joke-display {
    font-size: 18px;
    margin: 10px 0;
    min-height: 50px;
}

button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ccc;
}

button:hover {
    background-color: #e1e6eb;
}

#get {
    background-color: green;
}

#clear {
    background-color: red;
    font-weight: bold;
}
